recursive-include app/auth *
recursive-include app/domain *
recursive-include app/errors *
recursive-include app/filters *
recursive-include app/globals *
recursive-include app/routers *
recursive-include app/uql *



