BODY {
    background-color: #1565c0;
    color: white;
    font-family: Lato;

    padding: 30px;
}

P {
    font-size: 22px;
}

PRE {
    font-size: 18px;
}

H1 {
    font-size: 50px;
    font-weight: 400;
}

H2 {
    font-size: 34px;
    font-weight: 300;
}


H3 {
    font-size: 22px;
    font-weight: 300;
}


H1 > BOLD {
    font-weight: 600;
}

H1 > THIN {
    font-weight: 300;
}

PRE {
    display: inline-block;
    padding: 10px;
    background-color: #555;
}

BUTTON {
    padding: 7px;
    font-size: 18px;
    border-radius: 5px;
    border-color:  #1565c0;
    color: #1565c0;
    border-width: 2px;
    cursor: pointer;
    background-color: white;
}

.consent-content {
    font-size: 20px;
    color: black;
    background-color: #f5f5f5;
    padding: 10px 20px;
    border-radius: 10px;
    width: 800px;
}

SECTION {
    margin-left: 50px;
}

.consent {
    display: none; /* Hidden by default */
}