git+https://github.com/Tracardi/worker.git@master

pydantic
aiohttp
aiohttp[speedups]
redis
aioredis
elasticsearch[async]
prodict==0.8.18
tzlocal
python-multipart
lark==0.11.3
dateparser
dotty-dict==1.3.0
pytz
device_detector==5.0.1
pip>=21.2.4
deepdiff>=5.5.0
pytimeparse
barcodenumber
astral
jsonschema
python-dateutil
mailchimp-transactional
email-validator
lxml
beautifulsoup4
mailchimp-marketing
names==0.3.0
motor~=2.5.0
aiodns
urllib3
geoip2~=4.2.0
aiomysql
kombu
asyncpg
aiobotocore~=1.4.2
google-api-python-client == 2.33.0
google_auth_oauthlib == 0.4.6
python_weather
influxdb-client
grpcio
grpcio-tools
certifi
celery==5.2.6
