git+https://github.com/elasticemail/elasticemail-python.git@4.0.20

pydantic>=2.3.0
aiohttp[speedups]
redis
aioredis
elasticsearch[async]==7.10.1
prodict==0.8.18
tzlocal
python-multipart
lark==1.1.2
dateparser
git+https://github.com/Tracardi/dotty_dict@master
pytz
device_detector==5.0.1
pip>=21.2.4
deepdiff==6.2.2
pytimeparse
barcodenumber
astral
jsonschema==4.3.3
python-dateutil
mailchimp-transactional
email-validator
lxml
beautifulsoup4
mailchimp-marketing
names==0.3.0
motor~=2.5.0
aiodns
urllib3
geoip2~=4.2.0
aiomysql
kombu==5.2.4
asyncpg
aiobotocore~=2.12.1
google-api-python-client == 2.33.0
google_auth_oauthlib == 0.4.6
python_weather==0.4.2
influxdb-client
grpcio==1.48.2
grpcio-tools==1.48.2
protobuf==3.20.2
certifi==2022.9.24
celery==5.2.6
random-password-generator==2.2.0
aiomqtt==1.0.0
tweepy==4.10.1
strsimpy==0.2.1
python-whois==0.8.0
PyYAML==6.0
telebot==0.0.4
msgpack==1.0.5
user-agents==2.2.0
faker==18.4.0
faker-commerce==1.0.3
SQLAlchemy==2.0.23
speedict==0.3.12
boto3==1.34.41

# Worker requirements
mysql-connector-python==8.0.29
requests

# Com requirements
huey

# Telemetry
opentelemetry-distro==0.45b0
opentelemetry-instrumentation-wsgi==0.45b0
opentelemetry-instrumentation-asyncio==0.45b0
opentelemetry-instrumentation-fastapi==0.45b0
opentelemetry-instrumentation-mysql==0.45b0
opentelemetry-instrumentation-elasticsearch==0.45b0
opentelemetry-instrumentation-aiohttp-client==0.45b0
opentelemetry-instrumentation-sqlalchemy==0.45b0
opentelemetry-instrumentation-logging==0.45b0
opentelemetry-exporter-otlp-proto-grpc==1.24.0