git+https://github.com/Tracardi/worker.git@master
git+https://github.com/elasticemail/elasticemail-python.git@4.0.20

pydantic
aiohttp[speedups]
redis
aioredis
elasticsearch[async]==7.10.1
prodict==0.8.18
tzlocal
python-multipart
lark==1.1.2
dateparser
git+https://github.com/Tracardi/dotty_dict@master
pytz
device_detector==5.0.1
pip>=21.2.4
deepdiff>=5.5.0
pytimeparse
barcodenumber
astral
jsonschema==4.3.3
python-dateutil
mailchimp-transactional
email-validator
lxml
beautifulsoup4
mailchimp-marketing
names==0.3.0
motor~=2.5.0
aiodns
urllib3
geoip2~=4.2.0
aiomysql
kombu==5.2.4
asyncpg
aiobotocore~=1.4.2
google-api-python-client == 2.33.0
google_auth_oauthlib == 0.4.6
python_weather==0.4.1
influxdb-client
grpcio==1.48.2
grpcio-tools==1.48.2
protobuf==3.20.2
certifi==2022.9.24
celery==5.2.6
random-password-generator==2.2.0
asyncio-mqtt==0.12.1
googletrans==3.1.0a0
tweepy==4.10.1
strsimpy==0.2.1
python-whois==0.8.0


